@model TestPostgrasql.Models.ChangePasswordModel;
@{
	ViewData["Title"] = "Изменение пароля";	
}
<div>
	<form asp-controller="Account" asp-action="ChangePassword" method="post">
		<div>
			<label asp-for="Password"></label>
			<input asp-for="Password"/>
			<span asp-validation-for="Password"></span>
		</div>
		<div>
			<label asp-for="ConfirmationPassword"></label>
			<input asp-for="ConfirmationPassword"/>
			<span asp-validation-for="ConfirmationPassword"></span>
		</div>
		<div>
			<input type="hiden" asp-for="ResetPasswordToken" value="@Model.ResetPasswordToken"/>
			<input type="hiden" asp-for="Id" value="@Model.Id"/>
		</div>
		<button method="sumbit">Изменить</button>
	</form>
</div>