
@{
	ViewData["Title"] = "Сброс пароля";	
}
<div>
	<form asp-controller="Account" asp-action="ResetPassword" method="post">
		<div>Введите свой email</div>
		<label name="email"></label>
		<button type="sumbit">Сбросить пароль</button>
	</form>
</div>
